@page
@model GolfAssociationCommunity.Pages.Tournaments.IndexModel
@{
    ViewData["Title"] = "Associations";
}
<section class="section-panel">
    <h1>Choose an Association</h1>
    <p>Public tournament browsing is association-specific. If you are not redirected automatically, select an association below.</p>
    <a class="btn" href="~/">Browse Associations</a>
</section>
