@page
@model GolfAssociationCommunity.Pages.Associations.IndexModel
@{
    ViewData["Title"] = "Choose an Association";
}
<section class="section-panel">
    <h1>Choose an Association</h1>
    <p>If you are not redirected automatically, return to the public association selector.</p>
    <a class="btn" href="~/">Go to association selector</a>
</section>
